/* 全局样式重置和基础设置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}

:root {
  --base-vw: 1px;
  @media (max-width: 500px) {
    --base-vw: calc(100dvw / 500);
    font-size: calc(100dvw / 500 * 16);
  }
}
/* @media (max-width: 1000px) {
  .box {
    width: calc(var(--base-vw) * 1000);
    height: calc(var(--base-vw) * 100);
    font-size: calc(var(--base-vw) * 50);
    @media (max-width: 500px) {
      width: calc(var(--base-vw) * 500);
      height: calc(var(--base-vw) * 300);
    }
  }
} */
